<div class="container">

    <div class="box_one" style="float:left" onclick="location.href='#/Mostrar_Pacientes';">

    </div>
    <div class="box_two" style="float:right" onclick="location.href='#/Mostrar_Citas';">

    </div>
    <div class="box_subcontainer">
        Lista Pacientes
    </div>
    <div class="box_subcontainer_two">
        Lista Citas
    </div>
    <div style="clear:both"></div>
    <div class="box_three" style="float:left" onclick="location.href='#/Agregar_Paciente';">

    </div>
    <div class="box_four" style="float:right" onclick="location.href='#/Agregar_Cita';">

    </div>
    <div class="box_subcontainer">
        Agregar Paciente
    </div>
    <div class="box_subcontainer_two">
        Agregar Citas
    </div>
    <div style="clear:both"></div>

</div>



<style>
    body{
        overflow-y:hidden !important;
    }
</style>