
<div layout="column" class="formulario" ng-init="mostarTodasCitas()">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Citas</span>
        </h2>
    </md-toolbar>
    <md-toolbar class="footer">
        <div class="md-toolbar-tools">
            <md-button class="md-raised md-primary" style="width:18%" onclick="location.href='#/';">Volver al menú</md-button>
            <span flex></span>
            <form name="miCita">
                <md-input-container style="width:50% !important;">
                    <input required="" ng-model="search" name="search">
                    <div class="errors" ng-messages="miCita.search.$error">
                        <div ng-message="required">Ingrese elemento de busqueda</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" style="width:44%" ng-click="miCita.$valid && buscarPaciente()"><img style="position: relative;top: 7px;left: -6px;" src="CSS/ic_search_white_24px.svg"> Buscar</md-button>
            </form>
        </div>
    </md-toolbar>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs="" flex-gt-xs="50" layout="column" style="max-width: 100% !important;">
            <md-card ng-repeat="c in citas | startFrom1:currentPage1*pageSize1 | limitTo:pageSize1" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{c.paciente}}</span>
                        <div layout="column" class="second-row">
                            <span class="md-headline"><b>Fecha</b> {{c.fecha}}</span>
                            <span class="md-headline"><b>Hora</b> {{c.hora}}</span>
                        </div>
                        <div layout="row">
                            <span class="md-subhead"><b>Dueño</b> - {{c.dueno}}</span>
                            <span class="md-subhead"><b>Teléfono</b> - {{c.telefono}}</span>
                            <span class="md-subhead"><b>Raza</b> - {{c.raza}}</span>
                            <span class="md-subhead"><b>Peso</b> - {{c.peso}}</span>
                        </div>
                        <div layout="row">
                            <span class="md-subhead"><b>Edad</b> - {{c.edad}}</span>
                            <span class="md-subhead"><b>Sexo</b> - {{c.sexo}}</span>
                            <span class="md-subhead"><b>Alergías</b> - {{c.alergias}}</span>
                            <span class="md-subhead"><b>Parásito</b> - {{c.parasito}}</span>
                        </div>
                        <div layout="column">
                            <span class="md-subhead"><b>Diágnostico</b> - {{c.diagnostico}}</span>
                            <span class="md-subhead"><b>Tratamiento</b> - {{c.tratamiento}}</span>
                        </div>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-xl card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-warn md-raised md-hue-2" ng-click="eliminarUnaCita(c.id)" >Eliminar</md-button>
                    <md-button class="md-raised md-primary md-button md-ink-ripple" style="background-color:#1aa094" ng-click="redirect(c.id)">Editar </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
    <div layout="row">
        <div style="width:33%">
            <md-button class="md-raised md-primary"  style="background-color: #4c9ef0;color:#fff" ng-disabled="currentPage1 == 0" ng-click="currentPage1=currentPage1-1">
                Anterior
            </md-button>
        </div>
        <div style="width:33%;text-align:center;font-weight: 400;font-size: 2.000rem;">
            {{currentPage1+1}}/{{numberOfPages1()}}
        </div>
        <div style="width:33%">
            <md-button class="md-raised md-primary"
                       style="float:right;background-color: #4c9ef0;color:#fff" ng-disabled="currentPage1 >= citas.length/pageSize1 - 1"  ng-click="currentPage1=currentPage1S+1">
                Siguiente
            </md-button>
        </div>
    </div>
</div>



<style>
    body{
        overflow-y:initial !important;
    }
    button{
        width:80%;
    }
    .carddemoBasicUsage .card-media {
        height: 152px;
        width: 152px;
        background-image: url("../CSS/chart_icon.png") !important;
    }
    .md-subhead{
        width:25%;
        margin-bottom:1%;
    }
    b{
        font-size:15px;
    }
    button:disabled{
        background-color:#e8e8e8 !important;
        color:#d4d4d4 !important;

    }
    .md-headline{
        margin-bottom:2%;
    }
   .second-row .md-headline{
       font-size:15px;
   }
</style>